input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#main{
    margin: auto ;
    margin-top: 60px;
    width: 50%;
    border: 3px solid grey ; 
    overflow-x: auto;
    border-radius: 7px;

}

#leftPart{
    border-right: 3px solid grey;
    padding:30px 30px 30px 30px ;
    
}

.inputIcon{
    width: 61%;
    margin: auto;
    padding:10px 10px 10px 10px ;
    text-align: center;
    font-size: large;
  
    
}
input[type=button]{
    padding:15px 15px 15px 15px;
    border:none;
    font-size: large;
    text-align: center;
    
}
.iconDiv{
    border: 2px solid grey; 
    overflow-x: auto;
    box-sizing: content-box;

}
