input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#main{
    margin: auto ;
    margin-top: 60px;
    width: 50%;
    border: 3px solid grey ; 
    box-sizing: border-box;
    overflow-x: auto;
    border-radius: 7px;

}

#leftPart{
    border-right: 3px solid grey;
    padding:30px 30px 30px 30px ;
    
}

.inputIcon{
    width:61%;
    padding:10px 12px 10px 10px ;
    margin-bottom: 0.4%;
    text-align: center;
    
}
input[type=button]{
    padding:6px 6px 10.8px 9px;
    border:none;
    font-size: large;
    
}
.iconDiv{
    border: 2px solid grey; 
  
    overflow-x: auto;

}
