input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#main{
    margin: auto ;
    margin-top: 60px;
    width: 70%;
    border: 3px solid grey ; 
    overflow-x: auto;
    height:auto;
    border-radius: 7px;

}

#leftPart{
    border-right: 3px solid grey;
    padding:30px 30px 30px 30px ;
    margin-right: 2px ;

    
}

.inputIcon{
    width: 60%;
    padding:13px 10px 10px 13px ;
    text-align: center;
    font-size: large;
  
    
}
input[type=button]{
    padding:15px 15px 15px 16px;
    border:none;
    font-size: large;
    text-align: center;
    
}
.iconDiv{
    border: 2px solid grey; 
    overflow-x: auto;

}
input[type=button]:hover{
    background-color: green;
    cursor: pointer;
}
